/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #8f95a5;
  background-color: #fff;
}
body.modal-is-open {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: inherit;
}

h2 {
  color: #000;
}

h3 {
  color: #263238;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-footer, .pricing__img, .skills__img, .container {
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  position: relative;
  min-height: 101px;
}
@media (min-width: 575px) {
  .page-header {
    min-height: 125px;
  }
}

.page-header__backdrop.is-open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(7, 34, 47, 0.7);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}
@media (min-width: 575px) {
  .container {
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 1600px;
  }
}

.page-header__backdrop.is-open .page-header__container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .page-header__backdrop.is-open .page-header__container {
    margin-left: 0;
    width: 429px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .about-us__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1600px) {
  .about-us__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-us__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  display: inline-block;
  font-size: 24px;
  color: #000;
}
@media (min-width: 575px) {
  .logo {
    font-size: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .logo {
    font-size: 36px;
  }
}

.logo__text {
  color: #8f95a5;
}

@media screen and (min-width: 1600px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 36px;
  padding-bottom: 29px;
}
.page-header__backdrop.is-open .nav__top-panel {
  border-bottom: 1px solid #c4c4c4;
}
@media (min-width: 575px) {
  .nav__top-panel {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 768px) {
  .nav__top-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1600px) {
  .nav__top-panel {
    padding-top: 63px;
    padding-bottom: 63px;
    margin-right: 228px;
  }
}

.nav__wrap {
  display: none;
  padding-top: 48px;
  padding-bottom: 48px;
}
.page-header__backdrop.is-open .nav__wrap {
  display: block;
}
@media (min-width: 575px) {
  .nav__wrap {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1600px) {
  .nav__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.nav__menu-btn {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 1600px) {
  .nav__menu-btn {
    display: none;
  }
}

.nav__menu-icon {
  width: 34px;
  height: 19px;
}
@media (min-width: 575px) {
  .nav__menu-icon {
    width: 39px;
    height: 22px;
  }
}
.nav__menu-btn.is-open .nav__menu-icon {
  width: 34px;
  height: 34px;
}
@media (min-width: 575px) {
  .nav__menu-btn.is-open .nav__menu-icon {
    width: 39px;
    height: 39px;
  }
}

.nav__icon--close {
  display: none;
}
.nav__menu-btn.is-open .nav__icon--close {
  display: block;
}
.nav__icon--open {
  display: block;
}
.nav__menu-btn.is-open .nav__icon--open {
  display: none;
}

.pages {
  font-weight: 500;
  font-size: 22px;
  line-height: 2.95;
  color: #263238;
}
@media (min-width: 575px) and (max-width: 767px) {
  .pages {
    font-size: 24px;
    line-height: 2.71;
  }
}
@media screen and (min-width: 1600px) {
  .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 1.5;
  }
}

.pages__link {
  color: #263238;
}

@media screen and (min-width: 1600px) {
  .pages__item:not(:first-child) {
    margin-left: 50px;
  }
}

.btn {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.btn--black {
  font-weight: 500;
  color: #fff;
  background: #263238;
}

.btn--white {
  font-weight: 400;
  border: 2px solid #263238;
  color: #000;
  background-color: inherit;
}

.nav__btn {
  padding-top: 18px;
  padding-bottom: 18px;
}
@media (max-width: 767px) {
  .nav__btn {
    margin-top: 69px;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .nav__btn {
    margin-top: 80px;
    font-size: 22px;
    max-width: 330px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .nav__btn {
    margin-top: 62px;
    font-size: 18px;
    max-width: 210px;
  }
}
@media screen and (min-width: 1600px) {
  .nav__btn {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 312px;
  }
}

.hero__btn {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    width: 236px;
    font-weight: 400;
    font-size: 18px;
  }
}
@media screen and (min-width: 1600px) {
  .hero__btn {
    padding-top: 23px;
    padding-bottom: 23px;
    margin-top: 60px;
    width: 426px;
    font-size: 36px;
  }
}

.skills__btn {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 38px;
  font-weight: 500;
  font-size: 14px;
  max-width: 178px;
}
@media screen and (min-width: 768px) {
  .skills__btn {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(2) .skills__btn, .skills__item:nth-child(3) .skills__btn {
    margin-top: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(4) .skills__btn {
    margin-top: 6px;
  }
}
@media screen and (min-width: 1600px) {
  .skills__btn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    max-width: 230px;
    font-size: 18px;
  }
}

.contact-us__btn {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}
@media (max-width: 767px) {
  .contact-us__btn {
    margin-top: 17px;
  }
}
@media screen and (min-width: 768px) {
  .contact-us__btn {
    margin-left: 6px;
    width: 145px;
  }
}
@media screen and (min-width: 1600px) {
  .contact-us__btn {
    margin-left: 30px;
    width: 312px;
    font-size: 20px;
  }
}

.pricing__btn {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 178px;
  font-size: 22px;
  color: #263238;
  background: #eee;
}
@media screen and (min-width: 768px) {
  .pricing__btn {
    margin-top: 23px;
    max-width: 205px;
  }
}
@media screen and (max-width: 767px) {
  .pricing__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1600px) {
  .pricing__btn {
    margin-top: 30px;
    max-width: 260px;
    font-size: 24px;
  }
}

.btn__text--pricing {
  font-size: 16px;
  color: #546269;
}
@media screen and (min-width: 1600px) {
  .btn__text--pricing {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .hero {
    padding-top: 28px;
  }
}

.hero__img {
  width: 100%;
}
@media (max-width: 767px) {
  .hero__img {
    max-width: 719px;
  }
}
@media screen and (min-width: 768px) {
  .hero__img {
    min-width: 352px;
    min-height: 352px;
  }
}
@media screen and (min-width: 1600px) {
  .hero__img {
    min-width: 654px;
    min-height: 510px;
  }
}

.hero__content {
  position: relative;
}
@media (max-width: 767px) {
  .hero__content {
    padding-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    margin-right: 22px;
  }
}
@media screen and (min-width: 1600px) {
  .hero__content {
    margin-right: 144px;
  }
}

.hero__title {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}
@media (max-width: 767px) {
  .hero__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 224px;
    font-size: 36px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1600px) {
  .hero__title {
    width: 400px;
    font-size: 64px;
  }
}

.hero__icon--bulb {
  position: absolute;
  right: 0;
  top: 58px;
}
@media (max-width: 767px) {
  .hero__icon--bulb {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .hero__icon--bulb {
    top: 100px;
    width: 130px;
  }
}

.hero__descr {
  margin-top: 20px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .hero__descr {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero__descr {
    margin-top: 25px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1600px) {
  .hero__descr {
    margin-top: 40px;
    font-size: 24px;
  }
}

.section {
  padding-bottom: 53px;
}
@media screen and (min-width: 1600px) {
  .section {
    padding-bottom: 180px;
  }
}

.section__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 30px;
    line-height: 2.67;
  }
}
@media screen and (min-width: 1600px) {
  .section__title {
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .section__title--about-us {
    position: absolute;
    top: 0;
    left: 39px;
  }
}
@media screen and (min-width: 768px) {
  .section__title--contact-us {
    position: absolute;
    top: 0;
    left: 310px;
  }
}
@media screen and (min-width: 1600px) {
  .section__title--contact-us {
    left: 594px;
  }
}

@media screen and (min-width: 768px) {
  .skills__list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1600px) {
  .skills__list {
    grid-gap: 30px;
    grid-template-rows: 276px 276px 340px;
  }
}

.skills__item {
  padding: 32px 18px;
  background: #f5f5f5;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .skills__item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 767px) {
  .skills__item:not(:first-child) {
    margin-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:first-child {
    padding: 31px 17px 37px;
  }
}
@media screen and (min-width: 768px) {
  .skills__item:first-child {
    grid-row: 1/4;
    grid-column: 1;
  }
}
@media screen and (min-width: 1600px) {
  .skills__item:first-child {
    padding-bottom: 154px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(2) {
    padding: 14px 17px 27px;
  }
}
@media screen and (min-width: 768px) {
  .skills__item:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(3) {
    padding: 14px 17px 27px;
  }
}
@media screen and (min-width: 768px) {
  .skills__item:nth-child(3) {
    grid-row: 1/3;
    grid-column: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:last-child {
    padding: 0px 17px 26px;
  }
}
@media screen and (min-width: 768px) {
  .skills__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    grid-row: 3;
    grid-column: 2/4;
  }
}

.skills__img {
  display: block;
}
@media (max-width: 767px) {
  .skills__img--shared-goals-bro {
    width: 100%;
    max-width: 213px;
  }
}
@media screen and (min-width: 768px) {
  .skills__img--shared-goals-bro {
    width: 214px;
    height: 214px;
  }
}
@media screen and (min-width: 1600px) {
  .skills__img--shared-goals-bro {
    width: 390px;
    height: 390px;
  }
}
@media (max-width: 767px) {
  .skills__img--typewriter-bro {
    width: 100%;
    max-width: 204px;
  }
}
@media screen and (min-width: 768px) {
  .skills__img--typewriter-bro {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1600px) {
  .skills__img--typewriter-bro {
    width: 390px;
    height: 264px;
  }
}
@media (max-width: 767px) {
  .skills__img--house-bookshelves-bro {
    width: 100%;
    max-width: 236px;
  }
}
@media screen and (min-width: 768px) {
  .skills__img--house-bookshelves-bro {
    width: 190px;
    height: 200px;
  }
}
@media screen and (min-width: 1600px) {
  .skills__img--house-bookshelves-bro {
    width: 390px;
    height: 264px;
  }
}
@media (max-width: 767px) {
  .skills__img--podcast-audience-bro {
    width: 100%;
    max-width: 232px;
  }
}
@media screen and (min-width: 768px) {
  .skills__img--podcast-audience-bro {
    min-width: 202px;
    min-height: 134px;
  }
}
@media screen and (min-width: 1600px) {
  .skills__img--podcast-audience-bro {
    min-width: 408px;
    max-height: 235px;
  }
}

@media (max-width: 767px) {
  .skills__content {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1600px) {
  .skills__item:not(:last-child) .skills__content {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:first-child .skills__content {
    margin-top: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(2) .skills__content {
    margin-top: -40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(3) .skills__content {
    margin-top: -40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(4) .skills__content {
    margin-top: -10px;
  }
}

.skills__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 4.44;
}
@media screen and (min-width: 768px) {
  .skills__title {
    font-size: 20px;
    line-height: 4;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .skills__item:nth-child(4) .skills__title {
    margin-bottom: -10px;
  }
}
@media screen and (min-width: 1600px) {
  .skills__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.5;
  }
}

.skills__descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;
}
@media screen and (min-width: 1600px) {
  .skills__descr {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .about-us__content {
    padding-top: 65px;
    margin-right: 70px;
  }
}
@media screen and (min-width: 1600px) {
  .about-us__content {
    margin-right: 146px;
  }
}

.about-us__img--business-competition-bro {
  width: 100%;
  max-width: 719px;
}
@media screen and (min-width: 768px) {
  .about-us__img--business-competition-bro {
    min-width: 295px;
    min-height: 295px;
  }
}
@media screen and (min-width: 1600px) {
  .about-us__img--business-competition-bro {
    min-width: 540px;
    min-height: 540px;
  }
}

.about-us__descr {
  margin-top: 23px;
  font-size: 13px;
  line-height: 1.54;
}
@media (max-width: 767px) {
  .about-us__descr {
    text-align: center;
  }
}
@media screen and (min-width: 1600px) {
  .about-us__descr {
    font-size: 20px;
    line-height: 1.8;
  }
}

.about-us__list {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .about-us__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .about-us__list {
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .about-us__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .about-us__item:not(:first-child) {
    margin-left: 150px;
  }
}

.about-us__title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #2a3246;
}
@media screen and (min-width: 1600px) {
  .about-us__title {
    font-size: 48px;
  }
}

.about-us__label {
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
}
@media screen and (min-width: 1600px) {
  .about-us__label {
    font-size: 20px;
    line-height: 1.5;
  }
}

.pricing__img--online {
  width: 100%;
}
@media (max-width: 767px) {
  .pricing__img--online {
    max-width: 248px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__img--online {
    width: 192px;
    height: 192px;
  }
}
@media screen and (min-width: 1600px) {
  .pricing__img--online {
    width: 426px;
    height: 320px;
  }
}
.pricing__img--lesson {
  width: 100%;
}
@media (max-width: 767px) {
  .pricing__img--lesson {
    max-width: 257px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__img--lesson {
    width: 219px;
    height: 168px;
  }
}
@media screen and (min-width: 1600px) {
  .pricing__img--lesson {
    width: 426px;
    height: 320px;
  }
}
.pricing__img--webinar {
  width: 100%;
}
@media (max-width: 767px) {
  .pricing__img--webinar {
    max-width: 241px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__img--webinar {
    width: 210px;
    height: 210px;
  }
}
@media screen and (min-width: 1600px) {
  .pricing__img--webinar {
    width: 426px;
    height: 320px;
  }
}

@media (max-width: 767px) {
  .pricing__item {
    text-align: center;
  }
  .pricing__item:not(:first-child) {
    margin-top: 63px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .pricing__item:first-child {
    padding-top: 18px;
  }
  .pricing__item:nth-child(2) {
    padding-top: 42px;
  }
}

@media screen and (min-width: 768px) {
  .pricing__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.pricing__title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
}
@media screen and (min-width: 768px) {
  .pricing__title {
    margin-top: 23px;
    min-height: 56px;
    font-size: 20px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1600px) {
  .pricing__title {
    margin-top: 50px;
    font-size: 30px;
    line-height: 1.6;
  }
}

.pricing__descr {
  margin-top: 17px;
  font-size: 13px;
  line-height: 1.54;
}
@media screen and (min-width: 768px) {
  .pricing__descr {
    margin-top: 15px;
    min-height: 105px;
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1600px) {
  .pricing__descr {
    margin-top: 20px;
    font-size: 20px;
  }
}

.contact-us {
  padding-bottom: 55px;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .contact-us__content {
    padding-top: 40px;
    margin-left: 38px;
  }
}
@media screen and (min-width: 1600px) {
  .contact-us__content {
    margin-left: 144px;
  }
}

.contact-us__img {
  width: 100%;
}
@media (max-width: 767px) {
  .contact-us__img {
    max-width: 719px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  .contact-us__img {
    min-width: 233px;
    min-height: 210px;
  }
}
@media screen and (min-width: 1600px) {
  .contact-us__img {
    max-width: 425px;
    max-height: 430px;
  }
}

.contact-us__descr {
  font-size: 14px;
}
@media (max-width: 767px) {
  .contact-us__descr {
    text-align: center;
  }
}
@media screen and (max-width: 1599px) {
  .contact-us__descr {
    margin-top: 38px;
  }
}
@media screen and (min-width: 1600px) {
  .contact-us__descr {
    font-size: 20px;
  }
}

.contact-us__subscribe {
  margin-top: 31px;
}
@media screen and (min-width: 768px) {
  .contact-us__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1600px) {
  .contact-us__subscribe {
    margin-top: 30px;
  }
}

.contact-us__input {
  padding: 16px 26px;
  font-size: 12px;
  border: 1px solid #8f95a5;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .contact-us__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .contact-us__input {
    width: 283px;
  }
}
@media screen and (min-width: 1600px) {
  .contact-us__input {
    font-size: 16px;
    line-height: 1.88;
    width: 425px;
  }
}

.page-footer {
  text-align: center;
}

.page-footer__wrap {
  padding-top: 26px;
  padding-bottom: 48px;
  border-top: 1px solid #c4c4c4;
}
@media screen and (min-width: 768px) {
  .page-footer__wrap {
    padding-top: 18px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1600px) {
  .page-footer__wrap {
    padding-top: 22px;
    padding-bottom: 77px;
  }
}

.page-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;
  color: #8f95a5;
}
@media screen and (min-width: 768px) {
  .page-footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.54;
  }
}
@media screen and (min-width: 1600px) {
  .page-footer__link {
    font-size: 24px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1600px) {
  .page-footer__item:not(:first-child) {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1600px) {
  .page-footer__separator {
    display: none;
  }
}

.scroll-up {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 5%;
  z-index: 30;
  width: 40px;
  height: 40px;
  color: #263238;
  opacity: 0.5;
  cursor: pointer;
  -webkit-animation: spin 2.5s infinite linear;
          animation: spin 2.5s infinite linear;
}
@-webkit-keyframes spin {
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes spin {
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.scroll-up--show {
  display: block;
}
@media screen and (min-width: 1600px) {
  .scroll-up {
    width: 50px;
    height: 50px;
  }
}

.scroll-up__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.scroll-up:hover,
.scroll-up:focus {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */