.about-us__content {
  @include setForTabletUp {
    padding-top: 65px;
    margin-right: 70px;
  }
}

.about-us__img {
  &--business-competition-bro {
    width: 100%;
    max-width: calc(767px - (24px * 2));

    @include setForTabletUp {
      min-width: 295px;
      min-height: 295px;
    }

    @include setForDesktopUp {
      width: 540px;
      height: 540px;
    }
  }
}

.about-us__descr {
  margin-top: 23px;

  font-size: 13px;
  line-height: 1.54;

  @include setForMobileOnly {
    text-align: center;
  }
}

.about-us__list {
  margin-top: 24px;

  @include setForTabletUp {
    display: flex;
    justify-content: space-between;
  }
}

.about-us__item:not(:first-child) {
  @include setForMobileOnly {
    margin-top: 30px;
  }
}

.about-us__title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;

  color: getTextColor('number');
}

.about-us__label {
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
}
