.btn {
  width: 100%;

  border: none;
  border-radius: 5px;
}

.btn--black {
  font-weight: 500;

  color: getTextColor('white');
  background: getBorderColor('btn');
}

.btn--white {
  font-weight: 400;

  border: 2px solid getBorderColor('btn');
  color: getTextColor('black');
  background-color: inherit;
}

.nav__btn {
  @include setYPadding(18px);

  margin-top: 69px;

  @include setForMobileExtendedUp {
    margin-top: 80px;

    font-size: 22px;

    max-width: 330px;
  }

  @include setForTabletUp {
    margin-top: 62px;

    font-size: 18px;

    max-width: 210px;
  }
}

.hero__btn {
  @include setYPadding(18px);
  margin-top: 32px;

  font-weight: 500;
  font-size: 16px;

  @include setForTabletUp {
    width: 236px;

    font-weight: 400;
    font-size: 18px;
  }
}

.skills__btn {
  @include setYPadding(14px);
  margin-top: 38px;

  font-weight: 500;
  font-size: 14px;

  max-width: 178px;

  @include setForTabletUp {
    font-size: 16px;
  }

  .skills__item:nth-child(2) &,
  .skills__item:nth-child(3) & {
    @include setForTabletUp {
      margin-top: 13px;
    }
  }

  .skills__item:nth-child(4) & {
    @include setForTabletUp {
      margin-top: 6px;
    }
  }
}

.contact-us__btn {
  @include setYPadding(20px);

  font-weight: 500;
  font-size: 14px;

  @include setForMobileOnly {
    margin-top: 17px;
  }

  @include setForTabletUp {
    margin-left: 6px;

    width: 145px;
  }
}

.pricing__btn {
  @include setYPadding(14px);
  @extend %x-margin-centered;
  margin-top: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 178px;

  font-size: 22px;

  color: getTextColor('secondary');

  background: $label-bgr-color;

  @include setForTabletUp {
    margin-top: 23px;

    max-width: 205px;
  }
}

.btn__text {
  &--pricing {
    font-size: 16px;

    color: getTextColor('label');
  }
}
