.btn {
  width: 100%;

  border: none;
  border-radius: 5px;
}

.btn--black {
  font-weight: 500;

  color: getTextColor('white');
  background: getBorderColor('btn');
}

.btn--white {
  font-weight: 400;

  border: 2px solid getBorderColor('btn');
  color: getTextColor('black');
  background-color: inherit;
}

.page-header__btn {
  @include setYPadding(17px);
  margin-top: 69px;
}

.hero__btn {
  @include setYPadding(18px);
  margin-top: 33px;

  font-weight: 500;
  font-size: 16px;
}

.skills__btn {
  @include setYPadding(14px);
  margin-top: 38px;

  font-weight: 500;
  font-size: 14px;

  max-width: 178px;
}

.contact-us__btn {
  @include setYPadding(20px);
  margin-top: 17px;

  font-weight: 500;
  font-size: 14px;
}

.pricing__btn {
  @include setYPadding(14px);
  @extend %x-margin-centered;
  margin-top: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 178px;

  font-size: 18px;

  color: getTextColor('secondary');

  background: $label-bgr-color;
}

.btn__text {
  &--pricing {
    font-size: 14px;

    color: getTextColor('label');
  }
}
