.btn {
  width: 100%;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.btn--black {
  font-weight: 500;

  color: getTextColor('white');
  background: getBorderColor('btn');
}

.btn--white {
  font-weight: 400;

  border: 2px solid getBorderColor('btn');
  color: getTextColor('black');
  background-color: inherit;
}

.nav__btn {
  @include setYPadding(18px);

  @include setForMobileOnly {
    margin-top: 69px;
  }

  @include setForMobileExtendedOnly {
    margin-top: 80px;

    font-size: 22px;

    max-width: 330px;
  }

  @include setForTabletOnly {
    margin-top: 62px;

    font-size: 18px;

    max-width: 210px;
  }

  @include setForDesktopUp {
    @include setYPadding(20px);

    max-width: 312px;
  }
}

.hero__btn {
  @include setYPadding(18px);
  margin-top: 32px;

  font-weight: 500;
  font-size: 16px;

  @include setForTabletUp {
    width: 236px;

    font-weight: 400;
    font-size: 18px;
  }

  @include setForDesktopUp {
    @include setYPadding(23px);
    margin-top: 60px;

    width: 426px;

    font-size: 36px;
  }
}

.skills__btn {
  @include setYPadding(14px);
  margin-top: 38px;

  font-weight: 500;
  font-size: 14px;

  max-width: 178px;

  @include setForTabletUp {
    font-size: 16px;
  }

  .skills__item:nth-child(2) &,
  .skills__item:nth-child(3) & {
    @include setForTabletOnly {
      margin-top: 13px;
    }
  }

  .skills__item:nth-child(4) & {
    @include setForTabletOnly {
      margin-top: 6px;
    }
  }

  @include setForDesktopUp {
    @include setYPadding(15px);
    margin-top: 30px;

    max-width: 230px;

    font-size: 18px;
  }
}

.contact-us__btn {
  @include setYPadding(20px);

  font-weight: 500;
  font-size: 14px;

  @include setForMobileOnly {
    margin-top: 17px;
  }

  @include setForTabletUp {
    margin-left: 6px;

    width: 145px;
  }

  @include setForDesktopUp {
    margin-left: 30px;

    width: 312px;

    font-size: 20px;
  }
}

.pricing__btn {
  @include setYPadding(14px);

  margin-top: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 178px;

  font-size: 22px;

  color: getTextColor('secondary');

  background: $label-bgr-color;

  @include setForTabletUp {
    margin-top: 23px;

    max-width: 205px;
  }

  @include setForTabletDown {
    margin-left: auto;
    margin-right: auto;
  }

  @include setForDesktopUp {
    margin-top: 30px;

    max-width: 260px;

    font-size: 24px;
  }
}

.btn__text {
  &--pricing {
    font-size: 16px;

    color: getTextColor('label');

    @include setForDesktopUp {
      font-size: 18px;
    }
  }
}
