.contact-us {
  padding-bottom: 55px;
}

.contact-us__content {
  @include setForTabletOnly {
    padding-top: 40px;
    margin-left: 38px;
  }

  @include setForDesktopUp {
    margin-left: 144px;
  }
}

.contact-us__img {
  width: 100%;

  @include setForMobileOnly {
    max-width: calc(767px - (24px * 2));
  }

  @include setForTabletOnly {
    min-width: 233px;
    min-height: 210px;
  }

  @include setForDesktopUp {
    max-width: 425px;
    max-height: 430px;
  }
}

.contact-us__descr {
  font-size: 14px;

  @include setForMobileOnly {
    text-align: center;
  }

  @include setForDesktopDown {
    margin-top: 38px;
  }

  @include setForDesktopUp {
    font-size: 20px;
  }
}

.contact-us__subscribe {
  margin-top: 31px;

  @include setForTabletUp {
    display: flex;

    margin-top: 26px;
  }

  @include setForDesktopUp {
    margin-top: 30px;
  }
}

.contact-us__input {
  padding: 16px 26px;
  font-size: 12px;

  border: 1px solid getBorderColor('input');
  border-radius: 5px;

  @include setForMobileOnly {
    width: 100%;
  }

  @include setForTabletUp {
    width: 283px;
  }

  @include setForDesktopUp {
    font-size: 16px;
    line-height: 1.88;

    width: 425px;
  }
}
