.hero {
  @include setForTabletOnly {
    padding-top: 28px;
  }
}

.hero__img {
  width: 100%;

  @include setForMobileOnly {
    max-width: calc(767px - (24px * 2));
  }

  @include setForTabletUp {
    min-width: 352px;
    min-height: 352px;
  }

  @include setForDesktopUp {
    min-width: 654px;
    min-height: 510px;
  }
}

.hero__content {
  position: relative;

  @include setForMobileOnly {
    padding-top: 16px;
  }

  @include setForTabletUp {
    margin-right: 22px;
  }

  @include setForDesktopUp {
    margin-right: 144px;
  }
}

.hero__title {
  font-weight: 600;
  font-size: 24px;

  color: getTextColor('black');

  @include setForMobileOnly {
    text-align: center;
  }

  @include setForTabletUp {
    width: 224px;

    font-size: 36px;
    line-height: 1.25;
  }

  @include setForDesktopUp {
    width: 400px;

    font-size: 64px;
  }
}

.hero__icon {
  &--bulb {
    position: absolute;
    right: 0;
    top: 58px;

    @include setForMobileOnly {
      display: none;
    }

    @include setForDesktopUp {
      top: 100px;

      width: 130px;
    }
  }
}

.hero__descr {
  margin-top: 20px;

  font-size: 14px;

  @include setForMobileOnly {
    text-align: center;
  }

  @include setForTabletUp {
    margin-top: 25px;

    font-size: 16px;
  }

  @include setForDesktopUp {
    margin-top: 40px;

    font-size: 24px;
  }
}
