.logo {
  display: inline-block;

  font-size: 24px;

  color: getTextColor('black');

  @include setForMobileExtendedUp {
    font-size: 30px;
  }

  @include setForDesktopUp {
    font-size: 36px;
  }
}

.logo__text {
  color: getTextColor('primary');
}
