.nav__top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 36px;
  padding-bottom: 29px;

  .page-header__backdrop.is-open & {
    border-bottom: 1px solid getBorderColor('footer');
  }

  @include setForMobileExtendedUp {
    @include setYPadding(45px);
  }

  @include setForTabletUp {
    @include setYPadding(40px);
  }

  @include setForDesktopUp {
    @include setYPadding(55px);
  }
}

.nav__wrap {
  display: none;

  @include setYPadding(48px);

  .page-header__backdrop.is-open & {
    display: block;
  }

  @include setForMobileExtendedUp {
    @include setYPadding(35px);
  }
}

.nav__menu-btn {
  padding: 0px;

  display: flex;
  align-items: center;

  width: 34px;
  height: 34px;

  border: none;
  background-color: transparent;
}

.nav__menu-icon {
  width: 34px;
  height: 19px;

  @include setForMobileExtendedUp {
    width: 39px;
    height: 22px;
  }

  .nav__menu-btn.is-open & {
    width: 34px;
    height: 34px;

    @include setForMobileExtendedUp {
      width: 39px;
      height: 39px;
    }
  }
}

.nav__icon {
  &--close {
    display: none;

    .nav__menu-btn.is-open & {
      display: block;
    }
  }

  &--open {
    display: block;

    .nav__menu-btn.is-open & {
      display: none;
    }
  }
}
