.page-footer {
  @extend %x-margin-centered;
  padding-top: 26px;
  padding-bottom: 48px;

  text-align: center;
}

.page-footer__wrap {
  border-top: 1px solid getBorderColor('footer');
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;

  color: getTextColor('primary');
}
