.page-footer {
  @extend %x-margin-centered;

  text-align: center;
}

.page-footer__wrap {
  padding-top: 26px;
  padding-bottom: 48px;

  border-top: 1px solid getBorderColor('footer');

  @include setForTabletUp {
    padding-top: 18px;
    padding-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include setForDesktopUp {
    padding-top: 22px;
    padding-bottom: 77px;
  }
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;

  color: getTextColor('primary');

  cursor: pointer;

  @include setForTabletUp {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.54;
  }

  @include setForDesktopUp {
    font-size: 24px;
    line-height: 1.5;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.page-footer__item:not(:first-child) {
  @include setForDesktopUp {
    margin-left: 80px;
  }
}

.page-footer__separator {
  @include setForDesktopUp {
    display: none;
  }
}
