.section {
  padding-bottom: 53px;

  @include setForDesktopUp {
    padding-bottom: 180px;
  }
}

.section__title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  text-align: center;

  @include setForTabletUp {
    font-size: 30px;
    line-height: 2.67;
  }

  @include setForDesktopUp {
    margin-bottom: 60px;

    font-size: 48px;
    line-height: 1.5;
  }

  &--about-us {
    @include setForTabletUp {
      position: absolute;
      top: 0;
      left: 39px;
    }
  }

  &--contact-us {
    @include setForTabletUp {
      position: absolute;
      top: 0;
      left: 310px;
    }
  }
}
