.skills__list {
  @include setForTabletUp {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @include setForDesktopUp {
    grid-gap: 30px;
  }
}

.skills__item {
  padding: 32px 18px;

  background: $card-bgr-color;
  border-radius: 5px;

  @include setForTabletUp {
    height: fit-content;
  }
}

.skills__item:not(:first-child) {
  @include setForMobileOnly {
    margin-top: 21px;
  }
}

.skills__item:first-child {
  @include setForTabletOnly {
    padding: 31px 17px 37px;
  }

  @include setForTabletUp {
    grid-row: 1 / 4;
    grid-column: 1;
  }

  @include setForDesktopUp {
    padding-bottom: 154px;
  }
}

.skills__item:nth-child(2) {
  @include setForTabletOnly {
    padding: 14px 17px 27px;
  }

  @include setForTabletUp {
    grid-row: 1 / 3;
    grid-column: 2;
  }
}

.skills__item:nth-child(3) {
  @include setForTabletOnly {
    padding: 14px 17px 27px;
  }

  @include setForTabletUp {
    grid-row: 1 / 3;
    grid-column: 3;
  }
}

.skills__item:last-child {
  @include setForTabletOnly {
    padding: 0px 17px 26px;
  }

  @include setForTabletUp {
    display: flex;
    flex-direction: row-reverse;

    grid-row: 3;
    grid-column: 2 / 4;
  }
}

.skills__img {
  @extend %x-margin-centered;

  display: block;

  &--shared-goals-bro {
    @include setForMobileOnly {
      width: 100%;
      max-width: 213px;
    }

    @include setForTabletUp {
      width: 214px;
      height: 214px;
    }

    @include setForDesktopUp {
      width: 390px;
      height: 390px;
    }
  }

  &--typewriter-bro {
    @include setForMobileOnly {
      width: 100%;
      max-width: 204px;
    }

    @include setForTabletUp {
      width: 200px;
      height: 200px;
    }

    @include setForDesktopUp {
      width: 390px;
      height: 264px;
    }
  }

  &--house-bookshelves-bro {
    @include setForMobileOnly {
      width: 100%;
      max-width: 236px;
    }

    @include setForTabletUp {
      width: 190px;
      height: 200px;
    }

    @include setForDesktopUp {
      width: 390px;
      height: 264px;
    }
  }

  &--podcast-audience-bro {
    @include setForMobileOnly {
      width: 100%;
      max-width: 232px;
    }

    @include setForTabletUp {
      min-width: 202px;
      min-height: 134px;
    }

    @include setForDesktopUp {
      width: 408px;
      height: 274px;
    }
  }
}

.skills__content {
  @include setForMobileOnly {
    padding-top: 10px;
  }

  .skills__item:not(:last-child) & {
    @include setForDesktopUp {
      margin-top: 24px;
    }
  }

  .skills__item:first-child & {
    @include setForTabletOnly {
      margin-top: 2px;
    }
  }

  .skills__item:nth-child(2) & {
    @include setForTabletOnly {
      margin-top: -40px;
    }
  }

  .skills__item:nth-child(3) & {
    @include setForTabletOnly {
      margin-top: -40px;
    }
  }

  .skills__item:nth-child(4) & {
    @include setForTabletOnly {
      margin-top: -10px;
    }
  }
}

.skills__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 4.44;

  @include setForTabletUp {
    font-size: 20px;
    line-height: 4;
  }

  .skills__item:nth-child(4) & {
    @include setForTabletUp {
      margin-bottom: -10px;
    }
  }

  @include setForDesktopUp {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 1.5;
  }
}

.skills__descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.54;

  @include setForDesktopUp {
    font-size: 16px;
    line-height: 1.5;
  }
}
